/* @import "fonts.css"; */

h4 {
  margin: 0;
  margin-bottom: 5px;
}

.section-divider {
  margin-top: 40px;
  margin-bottom: 40px;
}

hr {
  margin: 0;
}

.ambassador-section {
  line-height: 1.5;
  font-family: "Proxima Nova";
  margin: auto;
}

.header-section {
  margin: auto;
  margin-bottom: 5%;
}

.horizontal-align {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.horizontal-section {
  margin-top: 6%;
  max-width: 30vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.link-btn {
  width: 103px;
  height: 41px;
  min-width: 50px;
  background-color: #CDE1F9;
  color: #6593C1;
  border-radius: 20px;
  border: none;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 400;
  padding: 6px;
  transition: all 0.2s;
  border: 2px solid #CDE1F9;
}

.link-btn:hover {
  background-color: #FFFFFF;
  border: 1.5px solid #6593C1;
  cursor: pointer;
}

.logo-section {
  width: 30vw;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.main-content {
  width: 55vw;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .main-content {
    width: 70%;
  }

  .header-section .horizontal-align {
    width: 70%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
  }

  .horizontal-section {
    max-width: none;
  }

  .logo-section {
    width: 70%;
  }

}

.arrow-button {
  display: absolute;
  justify-content: center;
  flex-direction: column;
  margin-right: 3%;
  margin-top: 20px;
}

button:hover {
  cursor: pointer;
}

.faq-section-am {
  padding: 10px;
  border: none;
  width: 100%;
  text-align: left;
  font-size: 15px;
  font-family: "Proxima Nova";
  line-height: 1.5;
  background: none;
}

.faqs-container {
  width: 100%;
  border: none;
  background: none;
}

.faqs-container:hover .question {
  color: #686767;
}

.faqs-container:hover .arrow-button {
  color: #686767;
}

.faq-content {
  margin-left: 2%;
  margin-right: 2%;
  padding: 5px;
}

.faqs {
  margin-bottom: 15%;
}

.question {
  font-weight: bold;
}

.answer {
  margin-top: 15px;
  width: 90%;
}