.footer {
  text-align: center;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  vertical-align: middle;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px !important;
  color: #0F2944;
  margin-top: 60px;
}

.icon {
  margin-left: 12px;
  color: #0F2944;
  
}

.icon:hover {
  color: grey;
}

.email {
  color: #0F2944;
  outline: none;
  text-decoration: none;
  margin-right: 7px;
}

.email:hover {
  text-decoration: underline;
}