@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.landing {
  max-width: 100vw;
}

.landing-img {
  max-width: 100vw;
  height: auto;
}

.landing-info {
  position: relative;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  background-color: #F0F7FF;
  max-width: 100vw;
  max-height: 5vh;
  padding: 2.5vh;
}

.landing-info-text {
  align-items: left;
  margin-left: 2%;
  color: #6593C1;
  size: 16px;
  font-weight: 600;
}

.landing-info-btn {
  position: absolute;
  cursor: pointer;
  right: 35px;
  top: 15%;
  color: #6593C1;
  font-weight: 600;
  background-color: #F0F7FF;
  width: 103px;
  height: 41px;
  border-radius: 20px;
  border-color: #6593C1;
  padding: 6px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.landing-info-btn:hover {
  background-color: #6593C1;
  color: #CDE1F9;
}

.landing-page-container {
  width: 49vw;
  margin: 0 auto;
}

.timeline-img {
  width: 49vw;
  height: auto;
}

.organizers-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.organizer-card {
  max-width: 20vw;
}

.organizer-img {
  width: 223px;
  height: 223px;
  border-radius: 4px;
  background: #D9D9D9;
}

.organizer-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  display: flex;
  color: #0F2944;
}

h4 {
  color: #0F2944;
}